name: Basic Check

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Download code
        uses: actions/checkout@v3

      - name: List project files
        run: ls -lah
